{{#if clerk}}
<h1 style="text-align: center;"><u>Clerk Dash Board</u></h1>
<div style="text-align: center;">
<button class="buttonw" >Add New Meal</button>
<br>
<br>
<button class="buttonw">Edit Meal</button>
</div>

<div class="mine">
  <div class="xrow">
    {{#each ObjArray}}
    <h1 style="text-align: center;">{{meal}}</h1>
        {{#each prop}}
        <div class="xcolumn">
          <img src={{img}} alt="Jane" style="max-width: 100%" />
          <div class="newcontainer">
            <h2><b>{{name}}</b></h2>
            <div class="title">
              {{topping}}
            </div>
          </div>
        </div>
        {{/each}}
    {{/each}}
  </div>
</div>
{{else}}
<div style="text-align: center;" class="ye">
  <h1 >You are a cutomer!!!!<br>You do not have access to this page</h1>
  <img style="max-width: 50%;" src="./images/error.jpg">
</div>>
{{/if}} 