{{#if clerk}}
<div class="second-main">
          {{#each ObjArray}}
            <h1 style="text-align: center;">{{meal}}</h1>
        <div class="row">     
      {{#each prop}}
    <div class="column">
  <div class="card1">
    <img src={{img}} alt="Jane" style="max-width: 100%" />
    <div class="container">
      <h2>{{name}}</h2>
      <div class="title">
        {{topping}}
      </div>
      <br />
      <form method="post">
        <input type="hidden" name="id" value="{{_id}}" readonly/>
        <button class="button" type="submit" style="text-align: center;"> Delete Meal</button>
      </form>
        <br>
        <br>
    </div>
  </div>
</div>
    {{/each}}
</div>
    {{/each}}
</div>
{{else}}
  <div style="text-align: center;" class="ye">
    <h1>You are a cutomer!!!!<br />You do not have access to this page</h1>
    <img src="./images/error.jpg" />
  </div>>
{{/if}}